# Introduction

In this report, we will investigate the vegeatables that provide the most nutrition.

In [1]:
import pandas as pd
import numpy as np
import matplotlib 
import seaborn

In [3]:
fruit_and_veg = pd.read_csv("fruit-and-vegetable-consumption-in-california-residents-20122013.csv")

In [6]:
fruit_and_veg.head()

,Year,Age Group,Category,Type,Five or more servings of fruits and vegetables (%)
0,2012,Adolescent (12-17),All,Total,40.2
1,2012,Adolescent (12-17),Gender,Male,37.3
2,2012,Adolescent (12-17),Gender,Female,43.3
3,2012,Adolescent (12-17),Gender by Age- Male,12-13,35.2
4,2012,Adolescent (12-17),Gender by Age- Male,14-15,42.1

In [7]:
fruit_and_veg.rename(columns = {'Five or more servings of fruits and vegetables (%)':'Servings of F/V => 5'}, inplace = True)

In [8]:
fruit_and_veg

,Year,Age Group,Category,Type,Servings of F/V => 5
0,2012,Adolescent (12-17),All,Total,40.2
1,2012,Adolescent (12-17),Gender,Male,37.3
2,2012,Adolescent (12-17),Gender,Female,43.3
3,2012,Adolescent (12-17),Gender by Age- Male,12-13,35.2
4,2012,Adolescent (12-17),Gender by Age- Male,14-15,42.1
...,...,...,...,...,...
65,2013,Child (6-11),Parent Education,Some College/Graduate,24.4
66,2013,Child (6-11),Physical Activity,> 60 minutes,29.9
67,2013,Child (6-11),Physical Activity,< 60 minutes,23.6
68,2013,Child (6-11),Overweight Status,Not Overweight,29.8
69,2013,Child (6-11),Overweight Status,Overweight/Obese,26.9

In [10]:
average_servings_over5 = fruit_and_veg["Servings of F/V => 5"].mean()
average_servings_over5

36.75000000000001

I found the average here and now know that across all groups, the average number of people who eat over 5 servings of fruit or vegtable a day is about 37%

In [16]:
select_AgeGroup_Adolescent = fruit_and_veg.loc[fruit_and_veg['Age Group'] == "Adolescent (12-17)"]
select_AgeGroup_Adolescent

,Year,Age Group,Category,Type,Servings of F/V => 5
0,2012,Adolescent (12-17),All,Total,40.2
1,2012,Adolescent (12-17),Gender,Male,37.3
2,2012,Adolescent (12-17),Gender,Female,43.3
3,2012,Adolescent (12-17),Gender by Age- Male,12-13,35.2
4,2012,Adolescent (12-17),Gender by Age- Male,14-15,42.1
5,2012,Adolescent (12-17),Gender by Age- Male,16-17,34.6
6,2012,Adolescent (12-17),Gender by Age- Female,12-13,50.1
7,2012,Adolescent (12-17),Gender by Age- Female,14-15,39.8
8,2012,Adolescent (12-17),Gender by Age- Female,16-17,40.5
9,2012,Adolescent (12-17),Race/Ethnicity,White,40.3
10,2012,Adolescent (12-17),Race/Ethnicity,African American,35.2
11,2012,Adolescent (12-17),Race/Ethnicity,Latino,44.2
12,2012,Adolescent (12-17),Race/Ethnicity,Asian/Other,29.6
13,2012,Adolescent (12-17),Income,"Less than $15,000",43.2
14,2012,Adolescent (12-17),Income,"$15,000 - 24,999",38.2
15,2012,Adolescent (12-17),Income,"$25,000 - 34,999",54.1
16,2012,Adolescent (12-17),Income,"$35,000 - 49,999",41.0
17,2012,Adolescent (12-17),Income,"$50,000 - 74,999",29.7
18,2012,Adolescent (12-17),Income,"$75,000 or greater",42.3
19,2012,Adolescent (12-17),Physical Activity,Regular,41.9
20,2012,Adolescent (12-17),Physical Activity,Irregular,34.4
21,2012,Adolescent (12-17),Overweight Status,Not Overweight,41.2
22,2012,Adolescent (12-17),Overweight Status,Overweight/Obese,39.1
23,2012,Adolescent (12-17),"CalFresh Status, % FPL",Participant,47.5
24,2012,Adolescent (12-17),"CalFresh Status, % FPL","Likely Eligible, ≤ 130%",41.9
25,2012,Adolescent (12-17),"CalFresh Status, % FPL","Not Eligible, > 185%",36.2

In [17]:
select_AgeGroup_child = fruit_and_veg.loc[fruit_and_veg['Age Group'] == "Child (6-11)"]
select_AgeGroup_child

,Year,Age Group,Category,Type,Servings of F/V => 5
54,2013,Child (6-11),All,Total,27.1
55,2013,Child (6-11),Gender,Male,24.0
56,2013,Child (6-11),Gender,Female,30.3
57,2013,Child (6-11),Age,6-8,28.3
58,2013,Child (6-11),Age,9-11,25.6
59,2013,Child (6-11),Race/Ethnicity,White,27.3
60,2013,Child (6-11),Race/Ethnicity,African American,24.5
61,2013,Child (6-11),Race/Ethnicity,Latino,27.5
62,2013,Child (6-11),Race/Ethnicity,Asian/Other,25.9
63,2013,Child (6-11),Parent Education,Less than High School,27.9
64,2013,Child (6-11),Parent Education,High School Graduate,30.0
65,2013,Child (6-11),Parent Education,Some College/Graduate,24.4
66,2013,Child (6-11),Physical Activity,> 60 minutes,29.9
67,2013,Child (6-11),Physical Activity,< 60 minutes,23.6
68,2013,Child (6-11),Overweight Status,Not Overweight,29.8
69,2013,Child (6-11),Overweight Status,Overweight/Obese,26.9

In [18]:
fruit_and_veg.iloc[26:53]

,Year,Age Group,Category,Type,Servings of F/V => 5
26,2013,Adult (18+),All,Total,39.8
27,2013,Adult (18+),Gender,Male,34.3
28,2013,Adult (18+),Gender,Female,45.1
29,2013,Adult (18+),Age,18 - 24,36.2
30,2013,Adult (18+),Age,25 - 34,43.3
31,2013,Adult (18+),Age,35 - 50,38.7
32,2013,Adult (18+),Age,51 - 64,40.6
33,2013,Adult (18+),Age,65+,39.5
34,2013,Adult (18+),Race/Ethnicity,White,40.1
35,2013,Adult (18+),Race/Ethnicity,African American,38.5
36,2013,Adult (18+),Race/Ethnicity,Latino,40.1
37,2013,Adult (18+),Race/Ethnicity,Asian/Other,38.8
38,2013,Adult (18+),Education,Less than High School,34.9
39,2013,Adult (18+),Education,High School Graduate,36.9
40,2013,Adult (18+),Education,Some College,37.1
41,2013,Adult (18+),Education,College Graduate,48.5
42,2013,Adult (18+),Income,"Less than $15,000",40.1
43,2013,Adult (18+),Income,"$15,000 - 24,999",40.7
44,2013,Adult (18+),Income,"$25,000 - 34,999",37.0
45,2013,Adult (18+),Income,"$35,000 - 49,999",33.0
46,2013,Adult (18+),Income,"$50,000+",41.2
47,2013,Adult (18+),Physical Activity,Met Aerobic Recommendation,45.1
48,2013,Adult (18+),Physical Activity,Did Not Meet Aerobic Recommendation,30.8
49,2013,Adult (18+),Overweight Status,Not Overweight,42.6
50,2013,Adult (18+),Overweight Status,Overweight/Obese,38.5
51,2013,Adult (18+),"CalFresh Status, % FPL",Participant,40.1
52,2013,Adult (18+),"CalFresh Status, % FPL","Likely Eligible, ≤ 130%",35.0

In [20]:
select_AgeGroup_adult = fruit_and_veg.loc[fruit_and_veg['Age Group'] == "Adult (18+)"]
select_AgeGroup_adult

,Year,Age Group,Category,Type,Servings of F/V => 5
26,2013,Adult (18+),All,Total,39.8
27,2013,Adult (18+),Gender,Male,34.3
28,2013,Adult (18+),Gender,Female,45.1
29,2013,Adult (18+),Age,18 - 24,36.2
30,2013,Adult (18+),Age,25 - 34,43.3
31,2013,Adult (18+),Age,35 - 50,38.7
32,2013,Adult (18+),Age,51 - 64,40.6
33,2013,Adult (18+),Age,65+,39.5
34,2013,Adult (18+),Race/Ethnicity,White,40.1
35,2013,Adult (18+),Race/Ethnicity,African American,38.5
36,2013,Adult (18+),Race/Ethnicity,Latino,40.1
37,2013,Adult (18+),Race/Ethnicity,Asian/Other,38.8
38,2013,Adult (18+),Education,Less than High School,34.9
39,2013,Adult (18+),Education,High School Graduate,36.9
40,2013,Adult (18+),Education,Some College,37.1
41,2013,Adult (18+),Education,College Graduate,48.5
42,2013,Adult (18+),Income,"Less than $15,000",40.1
43,2013,Adult (18+),Income,"$15,000 - 24,999",40.7
44,2013,Adult (18+),Income,"$25,000 - 34,999",37.0
45,2013,Adult (18+),Income,"$35,000 - 49,999",33.0
46,2013,Adult (18+),Income,"$50,000+",41.2
47,2013,Adult (18+),Physical Activity,Met Aerobic Recommendation,45.1
48,2013,Adult (18+),Physical Activity,Did Not Meet Aerobic Recommendation,30.8
49,2013,Adult (18+),Overweight Status,Not Overweight,42.6
50,2013,Adult (18+),Overweight Status,Overweight/Obese,38.5
51,2013,Adult (18+),"CalFresh Status, % FPL",Participant,40.1
52,2013,Adult (18+),"CalFresh Status, % FPL","Likely Eligible, ≤ 130%",35.0
53,2013,Adult (18+),"CalFresh Status, % FPL","Not Eligible, > 185%",39.9

I've seperated this dataframe so now I have three different variables that contain information on a single age group. Within that age group, I have different categories and can more easily move through this information

What I would lie to do with this data. 
1. compare income and veg within age groups and then graph it
2. compare education with veg 
3. compare overweight status 
4. compare ages within these groups to veg 
5. compare gender of all groups and veg consumption